<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
*{
  margin: 0;

}
body {
    display: grid;
    place-items: center;
    background-color: #ededed;
    background-image: linear-gradient(white, MintCream);
    height:100vh;
    width:100vw;
}
.container {
    display: grid;
    place-items:center;
    background-color:white;
    padding: 20px;
    min-height:250px;
    width:20vw;
    box-shadow:-1px 4px 20px -6px rgba(0,0,0,0.2);
    border-radius:10px;
}

</style>
<body>
<div class="container">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form action="/" method='POST'>
        <label for="input1">5 Letter</label><br>
        <input type="text" id="input1" name="input1"><br>
        <label for="input2">5 Number</label><br>
        <input type="text" pattern="[0-9]{5}" title='Must contain digits only and exatly 5 characters' id="input2"
               name="input2" required><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if output %}
    <p>Output is {{ output|default('No output') }}</p>
    {% endif %}
</div>
</body>
</html>